$header-background-color: #9b59b6;
$main-background-color: #ecf0f1;
$news-background-color: #3498db;
$news-read-background-color: #34495e;
$transaction-background-color: #e67e22;
$transaction-advent-background-color: #27ae60;
$transition-ease: .3s ease-in-out;
$background-color-transition: bacckground-color $transition-ease;
$border-radius: 3px;
$active-item-background-darken: 10%;
$hovered-item-background-darken: 15%;
$events-margin: 10px;
$button-default-color: #7f8c8d;
$button-remove-color: #e74c3c;
$button-create-color: #27ae60;
$font-family: sans-serif;