@import '../../styles/variables';

:host {
  display: block;
  max-width: 100%;
  border-radius: $border-radius;
}

a {
  display: block;
  margin-bottom: $events-margin;
  padding: 10px 20px;
  border-radius: $border-radius;
  font-size: 30px;
  color: #fff;
  background-color: $news-background-color;
  text-align: center;
  text-decoration: none;
  transition: $background-color-transition;
  word-wrap: break-word;

  &.read {
    background-color: $news-read-background-color;
    opacity: .7;

    &:hover {
      background-color: darken($news-read-background-color, $hovered-item-background-darken);
    }
  }

  &:hover {
    background-color: darken($news-background-color, $hovered-item-background-darken);
  }
}